
$header-color: #242424;
$nav-color: #ffffff;
$logo-color: #57c5a0;
$shadow-color: #eeeeee;
$box-shadow-title: #cccccc;
$slider-color: #2e2e2e;
$body-color: #ebe7df;
$static-content-color: #dfdbd4;
$page-width: 100%;
$login-register-color: #7e7e7e;

@font-face {
    font-family: myFont;
    src: url('aller_lt.ttf') format('truetype');
}
* {
    font-family: myFont;
}

header {
  margin: 0;
  padding: 0;
  width: $page-width;
  min-width: 50%;
  height: 47px;
  background-color: $header-color;
  
  .main-header {
    .logo {
/*       border: 1px solid tomato;
 */      width: 25%;
      float: left;
      a {
        h1 {
          
          color: $logo-color;
          float: left;
          text-decoration: none;
          margin: 12px 1014px 15px 230px;
          padding: 0;
          font-size: 26px;
          font-weight: 500;
          line-height: 25px;
          width: 156px;
          height: 20px;
        }
      } 
    }
  
    .right {
/*       border: 1px dotted tomato;
 */      
      margin: 10px 250px 10px 10px;
      float: right;
      i {
       margin-right: 20px;
       cursor: pointer; 
      }

      a {
        padding: 10px;
        width: 140px;
        height: 45px;
        color: $login-register-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.35), inset 1px 0 0 rgba(255, 255, 255, 0.35);
      }
      a:hover {
        cursor: pointer;
        color: $login-register-color;
      }
    }
  }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: $logo-color !important;
    border-color: $logo-color !important;
}


.modal-content,
.modal-body,
.modal-footer {
  background-color: $body-color !important;
}

.modal-header {
  background-color: $header-color;
}
.modal-title {
  color: $logo-color;
}

.dropdown-item:hover {
  color: $logo-color !important;
  background-color: $body-color !important;
  width: 150px !important;
  border:none !important;
}

body {
  background-image: url("layer-3.png")
}


.myNavBar {
  width: $page-width;
  height: 50px;
  background-color: $nav-color;

  nav {
    /*border-style: solid;
    border-color: #c58c57;*/
    margin-left: 230px;
    margin-right: 230px;
    height: 50px;
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $nav-color;
    
      li {
        float: left;
        width: 89px;
        height: 50px;
        box-shadow: 1px 0 0 $shadow-color, inset 1px 0 0 $shadow-color;
      
        a{
          display: block;
          color: $header-color;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          height: 16px;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.4px;
          line-height: 25px;

          .navRight {
            box-shadow: 1px 0 0 $shadow-color, inset 1px 0 0 $shadow-color;
            background-color: $nav-color;
          }
        }
      
        a:hover {
          color: $logo-color;
        }
        /*
        border-style: solid;
        border-color: #c55757;*/
      }
      
      /*
      border-style: solid;
      border-color: #6257c5;*/
    }
    
  }
  
  
  
  
  /*
  border-style: solid;
  border-color: #57c5a0;*/
}

.wish,
.cart {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-top: 0px;
  border-radius: 5px;

  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  /* border: 1px solid tomato; */
  
}

.wish {
  background-color: #adadad;
}

.cart {
  background-color: $logo-color;
}


#desc-price {
  width: 68px;
  height: 67px;
  background-color: $logo-color;
  padding: 20px 10px 27px 8px;     
  color: $nav-color;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
  
}

#collection {
  margin-bottom: 0px;
}

.slider {
  width: $page-width;
  height: 464px;
  background-image: url("img-bg.png");

  .image-and-text {
    display:inline-block;
    span {
      img {
        height: 464px;
        width: 100%;
      }
    }

    #desc-text {
      padding-top:20px;  
      /* border: 1px solid tomato; */
    }
    .icons {

      .icon-box {
        width: 40px;
        height: 40px;
        background-color: $nav-color;
        padding: 12px;
      }

      i:hover {
        color: $logo-color;
        cursor: pointer;
      }
    }
  }
}

.slide-desc {
  color: #242424;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

.slide-bar {
  text-align: center;
  width: $page-width;
  height: 93px;
  background-color: $slider-color;

  span {
    width: 83px;
    height: 23px;
    color: $nav-color;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    /* Text style for "Shop by" */
    letter-spacing: 0.55px;
    margin-right: 20px; 
  }

  select {
    width: 220px;
    height: 60px;
    background-color: $header-color;
    border-color: #242424;
    padding-left: 70px;
    margin-top:20px;

    color: $nav-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    /* Text style for "Brands" */
    letter-spacing: 0.45px;
  }
  
/*   .container-active-slide {
    width: 572px;
    height: 10px;
    margin-top: 5px;
    background-color: $header-color;
    display: inline-block;
    /*
    border-style: solid;
    border-color: #c55757;
}
 */
  .bar {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 150px;
    height: 6px;
    background-color: $logo-color;
  }
}


img {
  max-width: 100%;
  height: auto;
}


.onSale {
  width: $page-width;
  height: 233px;
  background-color: $header-color;
  overflow: auto;
  

  /* products under the slide */
  .products {
  text-align: center;
  
    .eachProduct {
      display:inline-block;
      width: 303px;
      height: 183px;
      margin: 25px 10px;
      position: relative;

      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 210px;
        height: 60px;
        
        background: rgba(0, 0, 0, 0.6);
        a {
            width: 94px;
            height: 20px;
            color: $nav-color;
            font-size: 25px;
            font-weight: 300;
            line-height: 60px;
        }
      }
    }
  }
}


.product-grid {
  // height: 1269px;
  width: $page-width;
  
 /*  border-style: solid;
  border-color: tomato;
 */
  .new-arrival {
    
    width: 950px;
    margin: 10px 230px 10px 185px;
 
  /*   border-style: solid;
  border-color: tomato; */
    
    span {
      padding: 10px 20px;
      margin-left:850px;
      width: 100px;
      height: 30px;
      border: 1px solid #bcb5a7;
      background-color: #ebe7df;
      color: #bcb5a7;
      font-size: 14px;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 0.35px;
    }

    select {
      width: 200px;
      height: 30px;
      border: 1px solid #bcb5a7;
      background-color: #ebe7df;
      margin-left:750px;
    }
    
  }

  .arrivals {
    text-align: center;
    margin-top: 20px;

    /* border: 1px solid tomato; */ 

    .shoe-grid {
      display: inline-block;
      width: 300px;
      height: 269px;
      background-color: $nav-color;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;

      .price {
        width: 68px;
        height: 67px;
        background-color: $logo-color;
        position: absolute;
        bottom: 0px;
        left: 15px;
        padding: 20px 10px 27px 8px;     
        color: $nav-color;
        font-size: 13px;
        font-weight: 700;
        line-height: 25px;
      }

      .price :hover {
        cursor: pointer;
      }

      .on-sale {
        width: 72px;
        height: 67px;
        background-color: $header-color;
        position: absolute;
        top: 0px;
        right: 15px;
        padding: 20px 10px 27px 8px;     
        color: $nav-color;
        font-size: 13px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
      }

      .out-stock {
        width: 72px;
        height: 67px;
        background-color: #f27e4b;
        position: absolute;
        top: 0px;
        right: 15px;
        padding: 10px 10px 27px 8px;     
        color: $nav-color;
        font-size: 13px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
      }

      .title {
        width: 300px;
        height: 49px;
        box-shadow: inset 0 1px 0 $box-shadow-title;
        background-color: $nav-color;
        color: $header-color;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        /* Text style for "Even&Odd" */
        letter-spacing: 0.45px;
        padding-top: 10px;
        padding-left: 20px;
      }
      
    }

  }
}

.static-content {
  /* border: 1px solid tomato; */
  border-top: 1px solid #bcb5a7;
  width: $page-width;
  height: 250px;
  padding-top: 30px;
  padding-left:  188px;
  padding-right: 210px;
  margin-top: 30px;
  
 
  .static-div {
    
    float: left;
    width: 220px;
    height: 185px;
    background-color: $static-content-color;
    padding-left: 15px;
    margin-right: 20px;

    h1 {
      color: $header-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 60px;
      text-transform: uppercase;
      margin-bottom: 0px;
    }

    p {
      width: 178px;
      height: 91px;
      color: $header-color;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }

  }

  .blog-news {
    float: right;
    
    width: 460px;
    height: 185px;
    background-color: $static-content-color;
    padding-left: 15px;
    position: relative;

    h1{
      color: $header-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 60px;
      text-transform: uppercase;
    }


    .date-news {
      width: 36px;
      height: 36px;
      background-color: $logo-color;
      position: absolute;
      left: 15px;

      h3 {
        padding: 8px 8px;
        width: 19px;
        height: 21px;
        color: $nav-color;
        font-size: 13px;
        font-weight: 700;
        line-height: 12px;
        /* Text style for "Apr" */
        font-size: 10px;
        text-transform: uppercase;
      }        
    }

    .text-news {
      width: 354px;
      height: 36px;
      /* border: 2px dotted tomato; */
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      position: absolute;
      left: 75px;
    }

    .date-news-1 {
      width: 36px;
      height: 36px;
      background-color: $logo-color;
      position: absolute;
      left: 15px;
      bottom: 20px;

      h3 {
        padding: 8px 8px;
        width: 19px;
        height: 21px;
        color: $nav-color;
        font-size: 13px;
        font-weight: 700;
        line-height: 12px;
        /* Text style for "Apr" */
        font-size: 10px;
        text-transform: uppercase;
      }        
    }

    .text-news-1 {
      width: 354px;
      height: 36px;
      /* border: 2px dotted tomato; */
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      position: absolute;
      left: 75px;
      bottom: 20px;
    }
  }
  
}


footer {
  width: $page-width;
  height: 364px;
  
  .widget {
    width: $page-width;
    height: 246px;
    background-color: $header-color;
    padding: 50px 270px;

    .widget-content {
      width: 250px;
      height: 135px;
      /* border: 1px dotted tomato; */
      display: inline-block;
      margin-right: 10px;

      h1 {
        width: 150px;
        height: 12px;
        color: #7d7d7d;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;
      }
      p {
        color: #a4a4a4;
        font-family: Aller;
        font-size: 12px;
        font-style: italic;
        line-height: 18px;

        span {
          color: $logo-color; 
        }

        strong {
          color: #c4c5bf;
        }

        img {
          width: 250px;
          height: 113px;
        }
      }
    }
  }

  .newsletter {
    border-top: 1px solid #1c1c1c;
    width: $page-width;
    height: 118px;
    background-color: $header-color;
    padding: 30px 270px;

    .mail {
      width: 237px;
      height: 36px;
      background-color: #2e2e2e;
      float: left;
      .input-group {
        
        form {
          input {
            background-color: $slider-color; 
            border-color: $header-color;
            font-size: 12px;
            font-style: italic;
            line-height: 18px;
            color: white;
            width: 200px;
          }
        }
       
        .input-group-append {
          .input-group-text {
            background-color: #7d7d7d;
            border-color: $header-color;
            font-weight: 1000;
          }
        }
      }
    }
    

    .social {
      float: right;
      i {
        width: 36px;
        height: 36px;
        padding: 12px;
        background-color: $slider-color;
        color: #7d7d7d;
      }
      i:hover {
        color: $logo-color;
        cursor: pointer;
      }
    }
  }

  

  
  /*border-style: solid;
  border-color: gold;*/
}
.foot {
  width: $page-width;
  height: 91px;
  background-color: $slider-color;
  padding: 20px 188px;

  
  color: #7d7d7d;
  font-family: Aller;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  /* Text style for "Copyright" */
  letter-spacing: 0.3px;
  .copyright {
    float: left;
  }

  .home {
    float: right;
  }
}